<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

<div class=" container text-center text-md-left" id="aboutme">
  <section class="hero-section row px-0 mx-0">
    <div class="section-left col-12 col-md-3 mx-auto">
      <img src="../../../assets/images/circular.png">
    </div>
    <div class="section-rigth col-12 col-md-8 mx-auto">
      <div class="About-text">
        <h3 class="text-center">Sobre Mí</h3>
        <p>Me apasiona y me enfoco en el mundo web, por la accesibilidad y las alternativas en la arquitectura y
          tecnologia, por lo que decidí basar mis habilidades en desarrollo Full Stack, y asi poder llevar a cabo lo
          aprendido en la carrera, desde
          analisis, diseño e implementación.
          <br> Graduado en Ingeniería en Sistemas de Información y Desarrollador Full Stack con +3 años de experiencia.
          He trabajado de
          FreeLancer como también en relación de dependencia, lo que me permitió acumular una gran experiencia en el
          desarrollo
          de aplicaciones web modernas y escalables.
          <br> También realizo el despliegue e implementación de los respectivos
          proyectos,
          área que me genera mucho interés.
        </p>
        <h4>Principales tecnologías</h4>

        <div class="intro-skills">
          <div>
          </div>
          <div class="skills">
            <div class="skill-a"></div>
            <div class="skill-b"></div>
            <div class="skill-c"></div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>