<app-header></app-header>
<!-- End header -->
<app-login></app-login>
<app-lead></app-lead>
<!-- End #lead -->
<app-sobre-mi></app-sobre-mi>
<!-- End #sobre-mi-->
<!-- <app-education></app-education> -->
<!-- End #education -->
<!-- <app-cursos></app-cursos> -->
<!-- End #cursos -->
<!-- <app-experience></app-experience> -->
<app-projects></app-projects>
<!-- End #projects -->
<app-project-idea-carousel></app-project-idea-carousel>

<app-skills></app-skills>
<!-- End #skills -->

<!-- <app-timeline></app-timeline> -->
<app-timeline2></app-timeline2>


<app-contact></app-contact>
<!-- End #contact -->

<app-footer></app-footer>
<!-- End #footer -->