<app-header></app-header>
<app-presentacion></app-presentacion>
<app-proyecto></app-proyecto>

<!-- <app-login></app-login> -->
<!-- <app-lead></app-lead> -->

<!-- End #lead -->
<!-- <app-sobre-mi></app-sobre-mi> -->
<!-- <app-education></app-education> -->
<!-- <app-cursos></app-cursos> -->
<!-- End #education -->

<!-- <app-experience></app-experience> -->
<!-- <app-projects></app-projects> -->
<!-- <app-card-project></app-card-project> -->
<!-- <app-project-idea-carousel></app-project-idea-carousel> -->
<!-- <app-progress-habilidades></app-progress-habilidades> -->
<!-- End #proyectos -->

<app-skills></app-skills>

<!-- <app-timeline></app-timeline> -->
<!-- <app-timeline2></app-timeline2> -->
<app-timeline3></app-timeline3>



<!-- <app-contact></app-contact> -->
<!-- End #contact -->

<app-footer></app-footer>
<!-- End #footer -->
<app-btn-subir></app-btn-subir>