<!-- <div class="row sobre-mi mt-0 pt-0" id="aboutme">
    <div class="d-flex">
        <div class="col-4 titulo pt-3">
            <h2 class="col-10">About Me</h2>
        </div>
        <div class="col-6 texto pt-3">
            <p class="col-10">Soy estudiante de Ingenieria en Sistemas, con gustos por la matematica y la programacion web.
            </p>
            <p>
                Habilidades:
            </p>
            <ul>
                <li>
                    Ingles
                </li>
                <li>
                    Trabajo en equipo
                </li>
            </ul>
        </div>
    </div>
</div> -->


<div class="courses-container" id="aboutme">
    <div class="course">
        <div class="course-preview">
            <h2>About Me</h2>
        </div>
        <div class="course-info ms-5">
            <p class="col-10">Soy estudiante de Ingenieria en Sistemas, con gustos por la matematica y la programacion web.
            </p>
            <p>
                Habilidades:
            </p>
            <ul>
                <li>
                    Ingles
                </li>
                <li>
                    Trabajo en equipo
                </li>
            </ul>
        </div>
    </div>
</div>