<div id="card" class="col-12 col-lg-6">
    <div id="card-title">
        <h1>
            <img src="../../../assets/images/escudo-arg.png" width="40px"> Républica Argentina
            <img src="../../../assets/images/escudo-arg.png" width="40px">
        </h1>
    </div>

    <div id="card-information">
        <div id="card-photo"></div>
        <div id="card-text">
            <div id="card-name">
                <p class="cardtitle">Nombre: </p>
                <p>Franco Julián Frighetto</p>

            </div>
            <div class="ubi">
                <p class="cardtitle"> Nacionalidad: </p>
                <p class="me-3"> Argentina</p>
                <p class="cardtitle"> Provincia: </p>
                <p>Córdoba</p>
            </div>
            <div id="card-detail">
                <div class="card-box">
                    <p class="cardtitle">Edad: </p>
                    <p> 21 años</p>
                </div>
                <div class="card-box">
                    <p class="cardtitle">Hobbies: </p>
                    <p>Matemática</p>
                </div>

            </div>
            <div class=" d-flex justify-content-around">
                <div id="card-sign" class="d-flex ">
                    <p class="cardtitle">Firma del titular:</p>
                    <img src="../../../assets/images/firma2.png" id="cardsign" class="ms-2">
                </div>
                <div class=" sol-dni ">
                    <img src="../../../assets/images/sol-dni.png" width="50px" class="me-4 mb-1">
                </div>
            </div>

        </div>
    </div>
</div>