.container-progress {
    width: 80%;
    margin: auto;
}

.skills {
    padding: 70px 20px;
    width: 80%;
    margin: auto;
}

.skills .content .development-wrapper .development-title {
    color: #3c3c3c;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.skills .content .development-wrapper .skills-bar-container {
    position: relative;
    list-style-type: none;
    margin: auto;
}

.skills .content .development-wrapper .skills-bar-container li {
    width: 100%;
    margin-bottom: 20px;
}

.skills .content .development-wrapper .skills-bar-container li .progressbar-title {
    color: #3c3c3c;
    margin-bottom: 5px;
}

.skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
    display: inline-block;
}

.skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
    position: absolute;
    right: 20px;
    font-size: 1.1em;
}

.skills .content .development-wrapper .skills-bar-container li .bar-container {
    background: #ececec;
    position: relative;
    width: 100%;
    height: 15px;
}

.skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
    background: #34495e;
    position: absolute;
    width: 0%;
    height: 100%;
}

.skills .content .tools-knowledge-wrapper {
    width: 100%;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper {
    position: relative;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper .title,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper .title {
    color: #3c3c3c;
    font-size: 2em;
    margin-bottom: 10px;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper ul,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul {
    list-style-type: none;
    margin-left: 40px;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper ul li,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li {
    color: #444;
    font-weight: bold;
    font-size: 1.1em;
    text-align: left;
}

.skills .content .tools-knowledge-wrapper .tools-wrapper ul li i,
.skills .content .tools-knowledge-wrapper .knowledge-wrapper ul li i {
    color: #27ae60;
}
