.row {
    max-width: 100%;
}

.otros {
    max-width: 100%;
}

@media (max-width: 1000px) {
    .front,
    .back {
        margin-left: 2%;
    }
}

@media (max-width: 800px) {
    .front,
    .back {
        margin-left: 3%;
    }
}

@media (max-width: 600px) {
    .front,
    .back {
        margin-left: 4%;
    }
}

.col-len {
    width: 90px;
    max-width: 90px;
}

.web {
    background-color: #f3f3f3;
    margin: 0;
}

.front,
.back {
    padding: 0;
}

.otros {
    margin: 0;
}
