<div class="habilidades container" id="skills">
    <h2 class=" text-center">Skills</h2>

    <!-- <div class="row individuales">
        <div class="col-4 col-sm-3 columna text-center m-auto" *ngFor="let dato of datosSkills">
            <img src={{dato.image}} width="50px">
            <p class="col-8 m-auto pb-3">{{dato.nombre}}</p>
        </div>
    </div> -->
</div>
<h2 class="text-center">Web</h2>
<div class="row width-100 justify-content-around web">

    <div class="row col-11 col-lg-5 front border border-2 border-dark rounded-4 mt-4">
        <h2 class="text-center ">Front-end</h2>
        <div class="d-flex row width-100">
            <!-- si pongo columnas es col-6 col-sm-3 -->
            <div class="  text-center m-auto col-len">
                <img src="../../../assets/images/html.png " width="50px ">
                <p class="col-8 m-auto pb-3 ">HTML</p>
            </div>
            <div class=" text-center m-auto col-len">
                <img src="../../../assets/images/css.png " width="50px ">
                <p class="col-8 m-auto pb-3 ">CSS</p>
            </div>
            <div class=" text-center m-auto col-len">
                <img src="../../../assets/images/bootstrap.png " width="50px ">
                <p class="col-8 m-auto pb-3 ">Bootstrap</p>
            </div>
            <div class=" text-center m-auto col-len">
                <img src="../../../assets/images/angular.png " width="50px ">
                <p class="col-8 m-auto pb-3 ">Angular</p>
            </div>
            <div class=" text-center m-auto col-len">
                <img src="../../../assets/images/js.png " width="50px ">
                <p class="col-8 m-auto pb-3 ">JS</p>
            </div>
        </div>
    </div>
    <div class="row col-11 col-lg-5 back border border-2 border-dark rounded-4 mt-4">
        <h2 class="text-center ">Back-end</h2>
        <div class="d-flex row width-100 ">
            <!-- si pongo columnas es col-4 col-sm-3 -->
            <div class=" col-len text-center m-auto ">
                <img src="../../../assets/images/php.png " width="50px ">
                <p class="col-8 m-auto pb-3 ">PHP</p>
            </div>
            <div class="col-len text-center m-auto ">
                <img src="../../../assets/images/spring boot.png " width="50px ">
                <p class="col-8 m-auto pb-3 ">SpringBoot</p>
            </div>
            <div class="col-len text-center m-auto ">
                <img src="../../../assets/images/api.png " width="50px ">
                <p class="col-8 m-auto pb-3 ">API's</p>
            </div>
            <div class="col-len text-center m-auto ">
                <img src="../../../assets/images/base-de-datos.png " width="50px ">
                <p class="col-8 m-auto pb-3 ">Database</p>
            </div>

        </div>
    </div>




</div>


<!-- <div class="row width-100 mt-4 otros">
    <div class="d-flex justify-content-center col-12">
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/java.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Java</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/python.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Python</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/csharp.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">C#</p>
        </div>



        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/java.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Java</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/python.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Python</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/csharp.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">C#</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/java.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Java</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/python.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Python</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/csharp.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">C#</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/java.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Java</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/python.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Python</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/csharp.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">C#</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/java.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Java</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/python.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Python</p>
        </div>
        <div class=" text-center me-4 ms-4 col-2 ">
            <img src="../../../assets/images/csharp.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">C#</p>
        </div>





    </div>

</div> -->


<div class="row col-12 mt-4">
    <h2 class="text-center ">Otros lenguajes</h2>
    <div class="d-flex row width-100 justify-content-center">
        <div class=" text-center me-4 ms-4  col-len">
            <img src="../../../assets/images/java.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Java</p>
        </div>
        <div class=" text-center me-4 ms-4  col-len">
            <img src="../../../assets/images/python.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Python</p>
        </div>
        <div class=" text-center me-4 ms-4  col-len">
            <img src="../../../assets/images/csharp.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">C#</p>
        </div>


    </div>
</div>


<div class="row col-12 mt-4">
    <h2 class="text-center ">Otros </h2>
    <div class="d-flex row width-100 justify-content-center">
        <div class=" text-center me-4 ms-4  col-len">
            <img src="../../../assets/images/git.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Git</p>
        </div>
        <div class=" text-center me-4 ms-4  col-len">
            <img src="../../../assets/images/github.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">GitHub</p>
        </div>
        <div class=" text-center me-4 ms-4  col-len">
            <img src="../../../assets/images/docker.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">Docker</p>
        </div>
        <div class=" text-center me-4 ms-4  col-len">
            <img src="../../../assets/images/uml.png " width="50px ">
            <p class="col-8 m-auto pb-3 ">UML</p>
        </div>


    </div>
</div>