<div class="lead mb-0 pb-0" id="lead">
    <div class="contenedor">
        <div class="header-imagen">
            <img src='../../../assets/images/fondo-compu.jpg' />
        </div>
        <div class="header-overlay"></div>
        <div class="centrado  " *ngIf="personasJSON!=undefined">
            <h2 class="">{{personasJSON.nombre}} {{personasJSON.apellido}}</h2>
            <h3 class="">{{personasJSON.titulo}}</h3>
            <div class="row justify-content-center">
                <a href="../../../assets/archivos/cv franco.doc" class="bg-light text-center col-5 mt-4 py-3">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg> -->
                    Descargar CV
                </a>
            </div>

        </div>
    </div>


</div>